@charset "UTF-8";

*{
	margin: 0;
	padding: 0;
	border: 0;
  box-sizing: border-box;
	vertical-align: baseline;
}
h1,h2,h3,h4,h5,h6{margin: 0;}
a{
  text-decoration: none;
  color: inherit;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, main {
	display: block;
}
ol, ul{
	list-style: none;
}
em{font-style: normal;}
strong{font-weight: normal;}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
input{
  outline: none;
}
button{
	background-color: transparent;
	border: none;
}