@charset "UTF-8";

/* Import Local CSS */
@import url('./reset.css');
@import url('./variables.css');
@import url('./common.css');


/* ***************
Preloading - S
*************** */
.preloading-inner {
  display: flex; justify-content: center; align-items: center; 
  height: inherit;
  background-color: #246A20; background-size: cover;
  position: relative;
}
.heading-preloading{
  display: flex; flex-direction: column;
  align-items: center;
  gap: 16px;
}
.heading-preloading h2{
  order: 2;
  color: #fff; text-align: center;
}
.heading-preloading h2 span{
  display: block;
  font-weight: 300; font-size: 20px; font-family: var(--logo-kr); line-height: 24px;
}
.heading-preloading h2 em{
  display: block;
  font-size: 50px; line-height: 58px; font-family: var(--logo-kr); 
}
.heading-preloading img{
  order: 1;
  width: 50%; height: 50%;
}
/* ***************
Preloading - E
*************** */

/* ***************
Signin - S
*************** */
.signin{}
.signin-inner{position: relative;}
.signin-photo{
  width: 100%; height: 250px;
  background: url('../img/signin-bg.png') no-repeat;
  background-size: cover;
}
.signin-content{
  display: flex; flex-direction: column;
  padding: 20px;
  border-radius: 20px 20px 0 0;
  background-color: #fff;
  position: absolute; left: 0; top: 220px; z-index: 1;
}
.signin-header{
  width: 100%;
  display: flex; justify-content: center;
  margin-bottom: 48px;
}
.signin-header .logo{
  width: inherit; height: 62px;
  font-size: 26px; text-indent: -9999px;
  background: url('../img/logo-gray.png') no-repeat center center; background-size: 62px 62px;
}
.signin-field {margin-bottom: 10px;}
.signin-field input {
  width: 100%; padding: 10px 20px; margin: 5px 0px;
  border: 1px solid var(--gloudy-gray); border-radius:30px;
}
.signin-field input:focus {border: 1px solid var(--green);}
.signin-field input::placeholder {
  color: var(--light-gray);
  transition: 0.5s;
}
.signin-field input:focus::placeholder {opacity: 0;}
.status {
  margin-bottom: 18px;
  display: flex; justify-content: space-between;
}
.custom-chk label{
  display: flex; align-items: center;
  height: 20px;
  line-height: 20px;
}
.custom-chk label input[type=checkbox] {
  display: none;
}
.custom-chk label input[type=checkbox] + em {
  display: inline-block;
  width: 16px; height: inherit;
  margin-right: 4px;
}
.custom-chk label input[type=checkbox] + em:before {
  content: '\F26B';
  font-family: bootstrap-icons;
  font-style: normal;
  color: var(--light-gray);
  font-size: 16px;
  width: inherit; height: inherit;
  display: inline-block;
}
.custom-chk label input[type=checkbox]:checked + em:before {
  color: var(--rose-pink);;
}
.btn-signin {
  background-color: var(--green);
}
.join-member {
  text-align: center;
  margin: 6px 0 48px 0;
}
.join-member a {
  text-decoration: underline;
  margin-left: 6px;
  color: var(--green);
}
.easy-signin {
  text-align: center;
}
.easy-signin span {
  color: var(--light-gray);
}
.easy-signin .social-btn {
  margin: 10px 0;
}
.easy-signin .social-btn a {
  margin: 2px;
}
/* ***************
Signin - E
*************** */
/* ***************
Signup - S
*************** */
.signup {}
.signup-content {
  padding: 20px;
}
.signup-field {
  margin-bottom: 30px;
}
.signup-field span {
  display: block;
}
.signup-field span em {
  color: var(--rose-pink);
}
.signup-field.id-pw input {
  width: 100%;
  border: none;
  border-bottom: 1px solid var(--silver-gray);
  padding: 8px 0;
}
.signup-field.id-pw input::placeholder{
  color: var(--silver-gray);
}
.signup-field.birth div {
  display: flex;
  gap: 10px;
}
.signup-field.birth div > *, .signup-field.phone div > * {
  width: 33.3333%; padding: 7px;
  border: 1px solid var(--silver-gray); border-radius: 3px; 
  text-align: center; color: var(--light-gray);
}
.signup-field.phone div{
  display: flex;
  gap: 10px;
}
.signup-field.phone div input{
  flex: 7;
}
.signup-field.phone div .btn-getcode{
  flex: 3;
  background-color: #fff;
}
.agree-term {
  margin-top: 38px;
  margin-bottom: 25px;
}
.agree-term label {
  font-size: 13px;
  margin-bottom: 6px;
}
.btn-signup {
  background-color: var(--green);
}
.signup-field.phone span,
.signup-field.birth span {
  margin-bottom: 5px;
}
.signup-field.birth div > *:focus, .signup-field.phone div input:focus {
  border: 1px solid var(--yellow-green);
}
.signup-field.id-pw input:focus {
  border: none;
  border-bottom: 1px solid var(--yellow-green);
  border-color: var(--yellow-green);
}
.signup-field.id-pw input:focus::placeholder, .signup-field.birth div > *:focus::placeholder, .signup-field.phone div input:focus::placeholder {
  visibility: hidden;
}
/* ***************
Signup - E
*************** */

/* ***************
Front - S
*************** */
.front {}
.front-inner {}
.front-content {
  overflow-x: hidden;
}
/* Category Navagation - S */
.category-navigation {
  height: 50px;
  display: flex; justify-content: space-between;
  font-size: 16px;
}
.category-navigation a {
  flex: 1;
  display: flex; align-items: center; justify-content: center;
}
.category-navigation a.active {
  border-bottom: 3px solid var(--green);
  color: var(--green);
} 
/* Category Navagation - E */

/* Front Slider - S */
.front-slider img {
  width: inherit; height: inherit;
  object-fit: cover;
}
.front-slider .slick-arrow {
  z-index: 10000;
  width: 30px; height: 30px;
}
.front-slider .slick-prev {
  left: 20px;
}
.front-slider .slick-next {
  right: 20px;
}
.front-slider .slick-prev::before, 
.front-slider .slick-next::before {
  content: '\F285';
  font-family: bootstrap-icons;
  font-size: 30px;
  display: inline-block;
  color: rgba(0,0,0,0.5);
}
.front-slider .slick-prev::before {
  transform: rotate(180deg);
}
.front-slider .slick-next::before {}
/* Front Slider - E */

/* Front Banner - S */
.front-banner { width: 100%; height: 70px;}
.front-banner img {
  width: inherit; height: 70px;
  object-fit: contain;
}
.front-banner .slick-dots {bottom: 0;}
.front-banner .slick-dots li{margin: 0;}
.front-banner .slick-dots li button{padding: 0px;}
.slick-dots li.slick-active button:before{color: var(--light-green);}
/* Front Banner - E */

/* Front Icon - S */
.front-icons {
  padding: 30px 20px;
  display: flex; justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 14px;
}
.front-icons a {
  width: calc( 100% / 5 ); height: 74px;
  display: flex; justify-content: center; align-items: center; flex-direction: column; 
  font-size: 12px;
}
.front-icons a img{
  height: 56px;
  object-fit: cover;
}
/* Front Icon - E */
/* Goods Suggestion - S */
.goods-suggestion {
  padding: 30px 20px ;
}
.goods-suggestion-header h2{
  margin-bottom: 16px;
  font-weight: 700; font-size: 20px; line-height: 1.4em;
}
.goods-suggestion-header span{
  display: block;
  font-size: 14px;
  color: var(--dark-gray);
  font-weight: 400;
}
.goods-suggestion-items {
  width: calc(var(--slide-basis) * 1.15);
}
.goods-suggestion-item .thum {
  width: calc(var(--slide-basis) * 0.36); 
  height: calc(var(--slide-basis) * 0.48); 
}
.goods-suggestion-item .thum img {
  width: inherit;
  height: inherit;
  object-fit: cover;
  border-radius: 5px;
}
.goods-suggestion-item .desc {
  width: 135px;
}
.goods-badge {}
.goods-suggestion-item .desc .goods-title {}
.goods-title h3{
  margin-bottom: 4px;
  font-weight: normal; font-size: 13px; line-height: 1.2em;
}
.goods-title div{
  display: flex; justify-content: start; flex-wrap: wrap;
  font-size: 13px;
}
.goods-title div s{
  display: block;
  width: 100%;
  color: var(--silver-gray);
}
.goods-title div span, .goods-title div b{
  font-weight: 600; font-size: 18px;
}
.goods-title div span{
  margin-right: 10px;
  color: var(--rose-pink);
}
.btn-goods-suggestion-more {
  display: block;
  padding: 7px; margin-top: 16px;
  border: 1px solid var(--rose-pink); border-radius: 25px;
  font-weight: 600; font-size: 15px; text-align: center;
}
/* Goods Suggestion - E */

/* Food Type - S */
.food-type {padding: 30px 20px;}
.food-type-tab-inner {}
.food-type-tab-inner input[name=food-type-tabmenu] {
  display: none;
}
.food-type-tab-btn {
  height: 40px; margin-bottom: 20px;
  background-color: var(--light-beige);
  display: flex; gap: 10px;
  overflow-x: scroll;
}
.food-type-tab-btn label {
  /* flex: 1; */
  display: flex; align-items: center; justify-content: center;
  height: 34px;
  white-space: nowrap;
  border-radius: 17px;
  border: 1px solid var(--light-gray);
  color: var(--light-gray);
  padding: 0px 10px;
}
.food-type-tabs {}
.food-type-tab {
  display: none;
  counter-reset: rank; /* 카운트가 되는 자식의 부모요소 */
}
input[id=food-type-tab1]:checked ~ .food-type-tab-btn label[for=food-type-tab1],
input[id=food-type-tab2]:checked ~ .food-type-tab-btn label[for=food-type-tab2],
input[id=food-type-tab3]:checked ~ .food-type-tab-btn label[for=food-type-tab3],
input[id=food-type-tab4]:checked ~ .food-type-tab-btn label[for=food-type-tab4],
input[id=food-type-tab5]:checked ~ .food-type-tab-btn label[for=food-type-tab5],
input[id=food-type-tab6]:checked ~ .food-type-tab-btn label[for=food-type-tab6]
 {
  color: var(--green);
  border-color: var(--green);
}
input[id=food-type-tab1]:checked ~ .food-type-tabs .tab1,
input[id=food-type-tab2]:checked ~ .food-type-tabs .tab2,
input[id=food-type-tab3]:checked ~ .food-type-tabs .tab3,
input[id=food-type-tab4]:checked ~ .food-type-tabs .tab4,
input[id=food-type-tab5]:checked ~ .food-type-tabs .tab5,
input[id=food-type-tab6]:checked ~ .food-type-tabs .tab6
{
  display: block;
}
.tab-item {
  display: flex; gap: 10px;
  margin-bottom: 10px;
}
.tab-item .thum {
  width: 110px; height: 90px;
  position: relative;
}
.tab-item .thum::before {
  display: flex; align-items: center; justify-content: center;
  width: 25px; height: 25px;
  border-radius: 5px 0 0 0;
  text-align: center; color: #fff;
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute; top: 0; left: 0;
  counter-increment: rank;
  content: counter(rank);
}
.tab-item .thum img {
  width: inherit; height: inherit;
  border-radius: 5px;
  object-fit: cover;
}
.tab-item .desc .badge-wish {
  display: flex; justify-content: space-between;
  padding-bottom: 2px; margin-bottom: 3px;
  border-bottom: 1px solid var(--gloudy-gray);
}
.wish {
  display: inline-block;
  width: 20px; height: 20px;
  font-size: 16px; text-align: center;
}
.wish::before {
  content: '\F417';
  font-family: bootstrap-icons;
  color: var(--silver-gray);
}
.wish.active::before {
  content: '\F415';
  color: var(--rose-pink);
}
.tab-item .goods-title div {
  justify-content: flex-start;
  gap: 10px;
}
.tab-item .goods-title div s {
  display: inline-block; 
  width: auto;
}
/* Food Type - E */
/* ***************
Front - E
*************** */

/* ***************
Goods-Detail - S
*************** */
.goods-detail {}
.goods-detail-inner {
  margin-bottom: 80px;
}
.goods-detail-content {padding: 0;}

/* Goods-Detail-Slider - S */
.goods-detail-slider-outer {position: relative;}
.goods-detail-slider a {
  width: 100%; height: 350px;
}
.goods-detail-slider a img{
  width: inherit; height: inherit;
  object-fit: cover;
}
.slick-dotted.slick-slider{margin: 0;}
.goods-detail-slider .slick-dots {
  bottom: 15px;
}
.goods-detail-slider .slick-dots li button::before {
  color: var(--silver-gray);
  opacity: 1;
}
.goods-detail-slider .slick-dots li.slick-active button::before {
 color: var(--light-green);
 font-size: 10px;
}
.goods-detail-slider .slick-dots li {
  margin: 0px;
  width: 20px; height: 20px;
}

/* Goods-Detail-Slider - E */

/* Goods-info - S */
.goods-info {padding: 20px;}
.goods-rating {margin: 12px 0;}
.goods-info .goods-title h3 {
  font-size: 16px;
  margin: 12px 0;
}
.goods-info .goods-title div {
  display: flex; justify-content: flex-start;
  gap: 6px;
} 
.goods-info .goods-title div span, 
.goods-info .goods-title div b{
  font-size: 24px;
  margin: 0;
}
.goods-info .goods-title div s {
  font-size: 20px;
  width: auto;
}
.goods-delivery-info{
  display: flex;
  border-top: 1px solid var(--gloudy-gray);
  border-bottom: 1px solid var(--gloudy-gray);
  padding: 20px 0;
  gap: 10px;
}
.goods-delivery-info div span{
  display: block;
}
.goods-delivery-info div span em{
  font-style: normal;
  color: var(--silver-gray);
}
/* Goods-info - E */

/* Goods Detail - S */
.goods-detail-wrap{padding: 0 20px; margin-bottom: 30px;}
.goods-detail-box{
  padding: 30px 0;
}
.goods-detail-title{margin-bottom: 30px;}
.goods-detail-title span{
  display: flex;
  height: 30px; margin-bottom: 6px;
  font-size: 24px; line-height: 30px; color: var(--dark-green); font-family: var(--logo-kr);
}
.goods-detail-title span::before{
  content: "";
  display: block;
  width: 30px; height: 30px; margin-right: 4px;
  background: url(../img/logo-darkgreen.svg);
}
.goods-detail-title span::after{
  content: "";
  flex: 1; align-self: center;
  height: 1px; margin-left: 5px;
  background-color: var(--silver-gray);
}
.goods-detail-title em{
  font-size: 16px;
  color: var(--dark-gray);
}
.goods-detail-title em b{
  font-weight: 600;
}
.goods-detail-desc{font-size: 16px; line-height: 20px; text-align: center;}
.goods-detail-desc > span{
  display: block;
  color: var(--dark-gray); 
  margin-bottom: 30px;
}
.goods-detail-desc > span strong{
  display: block;
  font-weight: 600; line-height: 32px; font-size: 26px; color: var(--dark-green);
}
.goods-detail-desc img{width: 100%; margin-bottom: 30px;  
}
.goods-detail-desc-method {
  margin-top: 20px;
  padding: 0px 20px;
}
.goods-detail-desc-defer,
.goods-detail-desc-method
{
  display: flex; justify-content: center; align-items: center;
  height: 200px;
  border: 1px solid var(--silver-gray);
  position: relative;
}
.goods-detail-desc-defer span,
.goods-detail-desc-method span {
  padding: 0 20px;
  color: var(--adark-gray);
  background-color: #fff;
  transform: translate(-50%, -50%);
  position: absolute; top: 0; left: 50%;
}
.goods-detail-desc-defer span b,
.goods-detail-desc-method span b {
  color: var(--dark-green);
  font-weight: 700;
}
.goods-detail-desc-defer ul{
  text-align: center;
}  
.goods-detail-desc-defer li{
  display: inline-block;
  width: 206px;
  text-align: left;
} 
.goods-detail-desc-defer li::before{
  content: "";
  float: left;
  width: 19px; height: 16px; margin-right: 10px; margin-bottom: 14px;
  background: url(../img/goods-detail-checked-icon.png) center center no-repeat;
  background-size: 19px 16px;
}  
.goods-detail-desc p {
  font-size: 16px; line-height: 24px; color: var(--light-black);
  text-align: justify;
  margin-bottom: 30px;
}
.goods-detail-desc-method span b{
  display: block;
}
.goods-detail-desc-method ul{
  font-size: 14px; line-height: 20px;
  text-align: justify;
}
.goods-detail-desc-method li{
  display: flex;
}
.goods-detail-desc-method li b{
  margin-right: 6px;
}
/* Goods Detail - E */

/* Goods Accordion - S */
.goods-accordion {
  border-top: 1px solid var(--silver-gray);
}
.goods-accordion .title {
  border-bottom: 1px solid var(--gloudy-gray);
  height: 50px;
  font-weight: 700;
  padding-left: 20px;
  display: flex;
  align-items: center;
  position: relative;
}
.goods-accordion .title:after {
  content: '\F64D';
  position: absolute;
  font-family: bootstrap-icons;
  right: 20px;
}
.goods-accordion .detail {
  display: none;
  padding: 20px 20px;
  flex-direction: column; 
  background-color: var(--white-gray);
}
.goods-accordion .detail .detail-box {
  display: flex; flex-direction: column; gap: 8px;
  padding: 8px 0;
  border-top: 1px solid var(--gloudy-gray);
}
.goods-accordion .title.active {
  color: var(--green);
}
.goods-accordion .title.active:after {
  content: '\F63B';
}
.goods-accordion .title.active + .detail {
  display: flex; 
  border-bottom: 1px solid var(--gloudy-gray);
}

/* accordion-review - S */
.review .detail .stars {
  margin: 0;
  font-size: 15px;
}
.review .detail .stars .bi {
  color: var(--light-gray);
}
.review .detail div:first-child{
  border: none;
}
/* accordion-review - E */
/* accordion-question - S */
.question{}
.question .detail .detail-box{
  border-top: none;
}
.question-title{
  margin-bottom: 16px;
}
.question-title span{
  display: block;
  margin-bottom: 6px;
  font-weight: 600;
}
.question-title span::before, 
.question-answer::before{
  font-size: 20px;
  font-weight: 600;
  color: var(--green);
  margin-right: 10px;
}
.question-title span::before{
  content: "Q";
}
.question-title span b{
  margin-right: 4px;
  font-weight: 600;
}
.question-title ul{
  display: inline-block;
  font-size: 12px; color: var(--light-black);
}
.question-title ul li{
  display: inline-block;
  position: relative; 
  margin-right: 17px;
}
.question-title ul li:first-child::after{
  content: "";
  display: block;
  width: 1px; height: 14px;
  background-color: var(--light-gray);
  position: absolute; top: 50%; right: -9px;
  transform: translateY(-50%);
}
.question-title strong{
  color: var(--green);
  font-size: 12px;
}
.question-content{
  padding-bottom: 20px;
  border-bottom: 1px solid var(--silver-gray);
}
.question-answer{
  padding: 20px 0;
}
.question-answer::before{
  content: "A";
}
/* accordion-question - E */
/* accordion-product-info - S */
.product-info{}
.product-info-wrap{}
.product-info-content{}
.product-info-content li{
  display: flex;
  padding: 4px 0px;
  border-bottom: 1px solid var(--silver-gray);
  font-size: 12px; color: var(--light-black);
}
.product-info-content li b{
  width: 35%;
  font-weight: 600;
}
.product-info-content li span{}
/* accordion-product-info - E */
/* accordion-exchange - S */
.exchage{}
.exchage-content{color: var(--light-black);}
.exchage-content > li{
  display: flex; flex-direction: column; gap: 10px;
  padding: 12px 0;
  border-bottom: 1px solid var(--silver-gray);
}
.exchage-content > li:first-child{padding-top: 0;}
.exchage-content > li b{font-weight: 600;}
.exchage-content li ul,
.exchage-content li p{
  font-size: 12px; line-height: 17px;
}
.exchage-content li ul{display: flex; flex-direction: column; gap: 6px;}
.exchage-content li ul li{}
/* accordion-exchange - E */
/* Goods Accordion - E */

/* Goods Order Info - S */
.goods-order-info {
  width: 100%; padding: 0 20px;
  border-radius: 10px 10px 0 0;
  position: fixed; bottom: 0; z-index: 10000;
  box-shadow: 0 -5px 5px rgba(0, 0, 0, 0.05);
  background-color: #fff;
}
.goods-order-choice {
  width: 100%; height: 80px;
  display: flex; justify-content: space-between; align-items: center; gap: 24px;
}
.goods-order-choice .wish {
  font-size: 30px;
  flex: 1;
}
.goods-order-final {
  display: none;
  padding: 30px 0;
}
.goods-order-final-info {}
.btn-fold {
  width: 100%;
  border: none;
  position: absolute; top: 5px; left: 0;
  background-color: transparent;
}
.btn-fold .bi{
  font-size: 18px; color: var(--dark-gray);
}
.info-badge.arrival {
  display: inline-block;
  margin-bottom: 12px;
  border-color: var(--rose-pink);
  color: var(--rose-pink);
}
.goods-order-final-info .goods-title {margin-bottom: 12px;}
.goods-order-final-info .goods-title h3{
  margin-bottom: 36px; 
  font-size: 16px;
}
.goods-order-final-info .goods-title div {
  display: flex; justify-content: space-between; align-items: center; gap: 6px;
} 
.goods-order-final-info .goods-title div span, 
.goods-order-final-info .goods-title div b{
  margin: 0;
  font-size: 24px;
}
.goods-order-final-info .goods-title div s {
  width: auto;
  font-size: 20px;
}
.payment-benefit {
  margin-bottom: 12px;
  font-size: 13px;
}
.payment-benefit b {font-weight: 400;}
.payment-benefit p {
  color: var(--light-gray);
  margin: 0;
}
.payment-benefit p a {text-decoration: underline;}
.good-order-btns {display: flex; gap: 10px;}
.overlay-fold {
  display: none;
  width: 100%; height: 100vh;
  position: fixed; top: 0; left: 0;
}
/* Goods Order Info - E */
/* ***************
Goods-Detail - E
*************** */

/* ***************
Category - S
*************** */
.category {margin-bottom: 65px;}
.category-inner {}
.category-content {padding: 0;}
.category-accordion {font-size: 16px;}
.category-accordion .title {
  display: flex; align-items: center;
  height: 50px; padding: 0 20px;
  border-bottom: 1px solid var(--gloudy-gray);
  font-weight: 600; color: var(--light-black);
  position: relative;
}
.category-accordion .title.active{color: var(--dark-green);}
.category-accordion .title::after,
.user-shortcut a::after {
  content: '\F282';
  width: 20px; height: 20px;
  border-radius: 50%;
  font-size: 13px; color: var(--dark-green); text-align: center; font-family: bootstrap-icons;
  position: absolute; right: 20px; top: 15px;
  background-color: var(--gloudy-gray);
}
.category-accordion .title.active::after {
  transform: rotateX(180deg);
  transition: 0.35s;
}
.category-accordion .detail {
  display: none;
  padding: 20px;
  line-height: 2em; color: var(--light-black);
  background-color: var(--white-gray);
}
.category-accordion .detail li a {
  display: block; height: 24px; line-height: 24px;
  margin-bottom: 10px;
}
.category-accordion .detail li:last-child a {margin: 0;}
/* ***************
Category - E
*************** */

/* ***************
Search - S
*************** */
.search{}
.search-inner{}
.search-content{padding: 20px 20px 65px 20px;}
.search-field{margin-bottom: 20px;}
.search-field input{
  width: 100%; padding: 8px 8px 8px 40px; 
  border: none; border-radius: 30px;
  background: var(--white-gray) url('../img/icon-search.svg') no-repeat center left 15px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}
.search-recent {margin: 0 0 30px 0;}
.search-recent .title {display: flex; justify-content: space-between; align-items: center;}
.search-recent .title h3 {
  padding: 10px 0;
  color: var(--rose-pink); font-size: 16px;
}
.search-recent .items {}
.search-recent .items .item {
  display: flex; justify-content: space-between; align-items: center;
  padding: 8px 0;
  border-bottom: 1px solid var(--gloudy-gray);
}
.search-recent .items .item span {
  font-size: 15px;
}
.search-increase {
  padding: 20px 0px;
}
.search-increase .title {
  margin-bottom: 20px;
}
.search-increase .title h3 {
  font-weight: 600; font-size: 16px; line-height: 23px; color: var(--dark-black);
  margin-bottom: 6px;
}
.search-increase .title span {
  padding: 0;
  font-size: 14px; line-height: 20px; color: var(--light-gray);
}
.search-increase-list {
  list-style: none;
  padding-left: 6px;
  counter-reset: rank 0;
  line-height: 2em;
  font-size: 15px;
}
.search-increase-list li::before {
  counter-increment: rank;
  content: counter(rank);
  margin-right: 10px;
  font-weight: 500;
  /* background-color: var(--crimson);
  color: #fff;
  width: 20px; height: 20px;
  display: inline-block;
  border-radius: 50%;
  text-align: center;
  font-size: 12px;
  line-height: 20px; */
}
/* ***************
Search - E
*************** */
/* ***************
Mypage - S
*************** */
.mypage {}
.mypage-inner {}
.mypage-content {padding: 0; margin-bottom: 85px;}
.user-info {
  display: flex; gap: 5px;
  padding: 20px;
}
.user-avatar {flex: 1;}
.user-avatar img {
  width: 60px;
  border-radius: 50%;
}
.user-summary {flex: 4;}
.rating-wrap {display: flex; justify-content: space-between;}
.rating-wrap .rating {}
.rating-wrap .rating b {font-weight: 600; color: var(--green);}
.rating-wrap .rating span {}
.rating-wrap .btn-setting {
  float: right;
  font-size: 20px; color: var(--light-gray);
}
.nickname {
  margin-top: 5px; margin-bottom: 16px;
  font-size: 18px;
}
.point-coupon {
  display: flex; gap: 14px; justify-content: space-between;
}
.point-coupon div {
  display: flex; justify-content: space-between;
  padding: 2px 15px;
  border-radius: 20px;
  background-color: var(--gloudy-gray);
}
.point-coupon div span{font-size: 13px; font-weight: normal;}
.point-coupon div span:last-child {color: var(--rose-pink);}
.point-coupon .point {flex: 3;}
.point-coupon .coupon {flex: 1;}
.delivering {padding: 20px 20px 30px 20px;}
.delivering h2{
  margin-bottom: 10px;
  font-weight: 600; font-size: 16px;
}
.delivering-items {
  padding: 15px;
  border: 1px solid var(--gloudy-gray); border-radius: 5px;
}
.delivering-item {
  display: flex; gap: 10px;
  padding: 10px 0;
  border-bottom: 1px solid var(--gloudy-gray);
}
.delivering-item:first-child {padding-top: 0;}
.delivering-item:last-child {
  padding-bottom: 0;
  border: none;
}
.delivering-item .thum {width: 60px; height: 60px;}
.delivering-item .thum img {
  width: inherit; height: inherit;
  border-radius: 5px;
  object-fit: cover;
}
.delivering-item .desc b {
  display: block;
  font-weight: 600; font-size: 16px; line-height: 1.3em; color: var(--rose-pink); 
}
.user-shortcut {padding: 30px 0 20px 0;}
.user-shortcut a {
  display: flex; align-items: center;
  height: 50px; padding: 0 15px;
  border-bottom: 1px solid var(--gloudy-gray);
  font-size: 15px;
  position: relative;
}
.user-shortcut a:last-child {border: none;}
.user-shortcut a::after {
  right: 10px;
  transform: rotate(270deg);
  background-color: transparent;
}
.user-shortcut a span {font-weight: 400;}
.user-shortcut a .bi {
  width: 25px; margin-right: 5px;
  text-align: center;
}
.user-shortcut a:nth-child(5) .bi {font-size: 20px;}
.btn-signout {
  background-color: var(--silver-gray);
  border-radius: 0;
}
/* ***************
Mypage - E
*************** */

/* ***************
Cart - S
*************** */
.cart {}
.cart-inner {}
.cart-content {padding: 0; margin-bottom: 65px;}
.cart-item-empty {
  display: none;
  padding: 50px 0;
  text-align: center;
}
.cart-item-empty p {
  display: flex; flex-direction: column; justify-content: center; align-items: center; gap: 16px;
  font-size: 14px; color: var(--dark-black);
  text-align: center;
}
.cart-item-empty p::before{
  content: "!";
  display: flex; justify-content: center; align-items: center;
  width: 50px; height: 50px;
  font-weight: 600; font-size: 24px; color: #fff;
  border-radius: 50%;
  background-color: var(--silver-gray);
}
.cart-item-wrap {
  padding: 0 20px;
}
.cart-items {
  padding: 20px 0;
  border-bottom: 1px solid var(--gloudy-gray);
}
.cart-items-header {padding: 0px 20px 0 20px;}
.cart-items-header h3 {
  height: 40px;
  font-weight: 700; font-size: 16px; line-height: 40px;
}
.cart-items-check-all {
  display: flex; justify-content: space-between; align-items: center;
  height: 40px; padding: 10px 0;
  border-bottom: 1px solid var(--gloudy-gray);
  line-height: 40px;
}
.cart-items-check-all .cart-chk-all {
  width: 16px; height: 16px; margin-right: 5px;
  transform: translateY(4px);
  accent-color: var(--green);
}
.cart-items-check-all em {color: var(--green);}
.cart-item-title {
  display: flex; align-items: flex-start;
  margin-bottom: 16px;
}
.cart-item-title input[type=checkbox] {
  width: 16px; height: 20px; margin-right: 5px; 
  line-height: 20px;
  accent-color: var(--green);
}
.cart-item-title span {flex: 1; line-height: 20px;}
.cart-item-title .btn-clear {
  width: 20px; height: 20px;
  font-size: 16px;
}
.cart-item-title .btn-clear .bi {
  display: flex; justify-content: center; align-items: center;
  height: 20px;
}
.cart-item-title .btn-clear .bi::before {
  text-align: center; line-height: 20px;
}
.cart-item-desc {
  display: flex;
  gap: 10px;
}
.cart-item-thum {
  /* flex: 1; */
  width: 80px; height: 80px;
}
.cart-item-thum img {
  width: inherit; height: inherit;
  border-radius: 5px;
  object-fit: cover;
}
.cart-item-info {flex: 3;}
.cart-item-info span {display: block;}
.cart-item-info .delivery-date {
  margin-bottom: 5px;
  font-weight: 600; color: var(--rose-pink);
}
.cart-item-info .delivery-time {margin-bottom: 10px;}
.cart-item-info .total-price {
  margin-bottom: 10px;
  font-weight: 600; font-size: 18px;
}
.cart-item-info .benefit {
  display: flex;
  margin-bottom: 10px;
  border-radius: 3px;
  background-color: var(--white-gray);
}
.cart-item-info .benefit em {
  display: flex; align-items: center;
  height: 24px;
  margin-right: 5px;
  font-weight: 600; font-size: 12px; line-height: 24px; 
}
.cart-item-info .benefit em::before {
  content: '\F26E';
  display: inline-block;
  font-family: bootstrap-icons;
  font-size: 16px;
  line-height: 24px;
}
.cart-items-summary {padding: 20px;}
.cart-items-summary div {
  display: flex; justify-content: space-between;
  margin-bottom: 10px;
}
.cart-items-summary div:last-child {
  border-top: 1px solid var(--gloudy-gray); 
  padding-top: 15px;
}
.cart-items-summary div span {font-size: 16px;}
.cart-items-summary div span:last-child{font-weight: 700;}
.cart-items-summary div:last-child span:last-child {font-size: 20px;}
.btn-order {
  background-color: var(--green);
  border-radius: 0;
}
.cart-notice {
  padding: 10px 20px;
  font-size: 13px; color: var(--light-gray);
  list-style: none;
}
.cart-notice li:before{
  content: '-';
  margin-right: 5px;
}
/* ***************
Cart - E
*************** */
