@charset "UTF-8";

*{
  margin: 0; padding: 0;
  box-sizing: border-box;
}
body{
  display: flex; justify-content: center; align-items: center;
  height: 100vh;
  background-color: #262e31;
}
.img-box{
  width: 225px; height: 500px;
  position: relative;
  transform-style: preserve-3d;
  perspective: 1000px;
}
.img-box img{
  position:absolute; top: 0; left: 0; 
  width: 100%; height: 100%;
  border-radius: 10px;
  object-fit: cover;
  transition: all 0.5s;
  z-index: calc(1 + var(--i));
  opacity: calc(1 - (0.2 * var(--i)));
  transform: rotate(30deg) skew(-20deg);
}
.img-box:hover img{
  transform: 
  rotate(30deg) skew(-20deg)
   translateX(calc(-35px*var(--i))) translateY(calc(-35px*var(--i)));
  box-shadow: -20px 20px 20px rgba(0,0,0,0.25);
}
/* .img-box:hover img{
  transform: rotate(-30deg) skew(25deg) translateX(calc(35px*var(--i))) translateY(calc(-35px*var(--i)));
  box-shadow: -20px 20px 20px rgba(0,0,0,0.25);
} */
